.p-sesao{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

#titulo-armamento {
    color: brown;
    background-color: black;
    text-align: center;/*alinhamento texto*/
} 


#titulo-emissora-dinamarquesa{
    color: blue;
    background-color: black;
    text-align: center;/*alinhamento texto*/
}

#titulo-discurso-em-davos{
    color: brown;
    background-color: black;
    text-align: center;/*alinhamento texto*/
}


.ataque{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

.crise{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

.tensão{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

.um-lugar-chamado-groelandias{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

.as-negociacoes{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

.primeira-ministra{
    color: blueviolet;
    background-color: bisque;/*cor de fundo*/
}

   